#wachtkamer_img {
    width: 100%;
    height: 50vh;
    object-fit:cover;
}

#over_ons {
    margin-top: 5%;
    text-align: center;
    font-size: 65px;
}

#blokken {
    margin:5%;
}

#blok_1 {
    background-color: #FFFCBB;
    width: 90%;
    margin-left: 5%;
    border-radius: 30px;
    border-style: solid;
    border-color: #EEEBB1;
    border-width: 20px;
    list-style-type: none;
    display: inline-block;
    padding-bottom: 5vh;
}

#text1 {
    text-align: center;
    font-size: 200%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    width: 100%;
}

#text3 {
    text-align: left;
    margin-left: 5%;
    font-size: 140%;
    /* margin-top: 2.5%; */
    margin-bottom: 2%;
}

#text4 {
    text-align: left;
    font-size: 140%;
    margin-top: 5%;
    margin-left: 5%;
}

#text5 {
    text-align: left;
    margin-left: 5%;
    font-size: 140%;
    margin-top: 3%;
}

#blok_2 {
    background-color: white;
    border: black;
    border-width: 2px;
    border-style: solid;
    margin-left: 5%;
    margin-top: 2.5%;
    width: 90%;
    /* height: 40vh; */
    padding-bottom: 1.5%;
    border-radius: 30px;
}

#aanmelden {
    font-size: larger;
}

#menuButton {
    width: 20%;
    height: 10vh;
    background-color: aqua;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 30px;
    margin-left: 40%;
    margin-top: 3%;
    font-size: 100%;
    text-align: center;
    list-style-type: none;
}

#text2_titel {
    font-size: 200%;
    margin: 2.5%;
    width: 100%;
    text-align: center;
    font-family: myFirstFont;
}

#text2 {
    font-size: 200%;
    margin-left: 2.5%;
    width: 95%;
    text-align: center;
}

.button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border-color:#000000;
    color: #000000;
}

.button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}
