#wachtkamer_img {
    width: 100%;
    height: 50vh;
    object-fit:cover;
}

#login_title {
    margin-top: 5%;
    text-align: center;
    font-size: 65px;
    font-family: myFirstFont;
}

#blok_1 {
    background-color: #FFFCBB;
    width: 70%;
    height: 90vh;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 30px;
    border-style: solid;
    border-color: #EEEBB1;
    border-width: 20px;
    list-style-type: none;
}

#or_line {
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

#or_text {
    margin-left: 48%;
}

#username_blok {
    margin: 5%;
    margin-top: 3%;
    margin-left: 30%;
}

#password_blok {
    margin: 5%;
    margin-left: 30%;
}

#username_text {
    margin: 1%;
    font-size: 200%;
    font-family: myFirstFont;
}

#username_input {
    margin-top: 1.5%;
    width: 60%;
    height: 7vh;
    border-radius: 45px;
    font-size: 4vh;
    padding-left: 1.5%;
}

#password_text {
    margin: 1%;
    font-size: 200%;
    font-family: myFirstFont;
}

#password_input {
    margin-top: 1.5%;
    width: 60%;
    height: 7vh;
    border-radius: 45px;
    font-size: 4vh;
    padding-left: 1.5%;
}

#login_button {
    width: 18.5%;
    height: 7vh;
    border-radius: 15px;
    border-width: 4px;
    background-color: #B1FAFF;
    border-color: #A3E8ED;
    font-size: 150%;
    margin-left: 40.75%;
}

#login_button:hover {
    background-color: #8bdee2;
}

#login_button:active {
    background-color: #50bec4;
}

#signInDiv {
    size: 10vh;
}

.google_login {
    margin-top: 5%;
    margin-left: 30%;
}